<div class="d-flex align-items-center justify-content-center" id="yes-delete">
    <div class="alert bg-black fade show alert-size d-flex justify-content-center align-items-center alert-gone" role="alert">
        <P class="fs-6 fw-bold text-light">Data Berhasil Dihapus</P>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>