<div class="d-flex align-items-center justify-content-center">
    <div class="alert bg-limegreen fade show alert-size d-flex justify-content-center align-items-center alert-gone" role="alert">
        <P class="fs-6 fw-bold text-light">Data Berhasil Disimpan</P>
    </div>
</div>