<!--sidebar-->
<div class="sidenav">
    <a class="navbar-square bg-darkblue01"></a>
    <a class="d-flex flex-column justify-content-center align-items-center side-option"><img src="/images/home.png"
            class="size-side-icon">
        <p>Dashboard</p>
    </a>
    <a class="d-flex flex-column justify-content-center align-items-center side-option"><img src="/images/truck.png"
            class="size-side-icon">
        <p>Cars</p>
    </a>
</div>

<div class="sidenav_2">
    <a class="side-option fs-6 fw-bold text-secondary px-4">CARS</a>
    <a class="side-option fs-6 fw-bold text-secondary px-4">List Cars</a>
</div>
<!--sidebar-->