<!--top-->

<div class="container py-3">
    <div class="row">
        <div class="col">
            <% if(home) { %>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item fs-6 fw-bold text-dark">
                            <p href="#">Cars</p>
                        </li>
                        <li class="breadcrumb-item active fs-6" aria-current="page">List Car</li>
                    </ol>
                </nav>
                <h3 class="fw-bold">List Car</h3>
                <% } %>

                    <% if(form ==="add") { %>
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item fs-6 fw-bold text-dark">
                                    <p href="#">Cars</p>
                                </li>
                                <li class="breadcrumb-item active fs-6 fw-bold text-dark" aria-current="page">List Car
                                </li>
                                <li class="breadcrumb-item active fs-6" aria-current="page">Add New Car</li>
                            </ol>
                        </nav>
                        <h3 class="fw-bold">Add New Car</h3>
                        <% } %>

                            <% if(form === "update") { %>
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item fs-6 fw-bold text-dark">
                                            <p href="#">Cars</p>
                                        </li>
                                        <li class="breadcrumb-item active fs-6 fw-bold text-dark" aria-current="page">
                                            List Car</li>
                                        <li class="breadcrumb-item active fs-6" aria-current="page">Update Car
                                            Information</li>
                                    </ol>
                                </nav>
                                <h3 class="fw-bold">Update Car Information</h3>
                                <% } %>

                                    <% if(home) { %>
                                        <div>
                                            <button type="button"
                                                class="btn btn-outline-secondary size-option fw-bold">All</button>
                                            <button type="button"
                                                class="btn btn-outline-secondary size-option fw-bold">Small</button>
                                            <button type="button"
                                                class="btn btn-outline-secondary size-option fw-bold">Medium</button>
                                            <button type="button"
                                                class="btn btn-outline-secondary size-option fw-bold">Large</button>
                                        </div>
                                        <% } %>
        </div>
        <div class="col">
            <% if(home) { %>
                <div class="d-flex justify-content-end">
                    <a type="button" class="btn btn-primary bg-darkblue04" href="/addNewCar">+ Add New Car</a>
                </div>
                <% } %>
        </div>
    </div>
</div>
<!--top-->